@model IEnumerable<Market.Models.Personel>

@{
    ViewData["Title"] = "Index";
}

<h1>Personel</h1>

<p>
    <a asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinsiyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reyonNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reyonNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.personelNo">Düzenle</a> |
                <a asp-action="Delete" asp-route-id="@item.personelNo">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
