@model IEnumerable<Market.Models.Urunler>

@{
    ViewData["Title"] = "Index";
}

<h1>Ürünler</h1>

<p>
    <a asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.urunAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alisFiyati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.satisFiyati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gelisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.miktar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.urunAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alisFiyati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.satisFiyati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gelisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.miktar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.urunNo">Güncelle</a> |    
                <a asp-action="Delete" asp-route-id="@item.urunNo">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
